.navbar {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    // align-items: flex-end;// justify-content: flex-end;
    background-color: rgb(187, 54, 54);
    position: sticky;
    top: 0px;

    width: auto;

    .navbar-box {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        position: absolute;
        width: 100%;
        top: 0px;
        left: 0px;
    }
}

.container-holder {

    .dummy-container {
        height: 100vh;
        width: 100vw;
        background-color: purple;
    }

    img {
        width: 117px;
    }


    .containerTTTT {
        height: 100vh;
        width: 100%;

        &.one {
            background-color: purple;
        }

        &.two {
            background-color: rgb(46, 153, 112);
        }

        &.three {
            background-color: rgb(30, 36, 122);
        }

        &.four {
            background-color: rgb(214, 121, 34)
        }
    }


    .header-box {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;

        .header-tab {
            width: 100%;
            margin-left: 24px;
            margin-right: 24px;
            padding: 2rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .header-link {

            color: white;
            font-size: 20px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
        }
    }

    .EZDrawer {

        .EZDrawer__container {
            background-color: #0028ec;
            height: 100% !important;
        }
    }
}